In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import os
import re
import logging

from tqdm.notebook import tqdm

In [2]:
'''
Logging Configuration
'''

logs_dir = "./logs"

log_filepath = os.path.join(logs_dir, 'df_wrd_error.log')

logging.basicConfig(filename=log_filepath, filemode='w', format='%(levelname)s - %(message)s')

<a id='toc'></a>
# Table of Contents
---

* [I. Gathering](#gathering)
* [II. Assessing](#assessing)
* [III. Cleaning](#cleaning)
* [IV. Analyzing](#analyzing)
* [III. Visualizing](#visualizing)

<a id='gathering'></a>
# I. Gathering Data 
---

In [3]:
data_dir = "./data"

### a. WeRateDogs Twitter Archive

In [4]:
wrd_data_filepath = 'twitter-archive-enhanced.csv'

df_wrd_twitter_old = pd.read_csv(os.path.join(data_dir, wrd_data_filepath))

### b. Tweet Image Predictions

In [5]:
image_predictions_filepath = os.path.join(data_dir, 'image-predictions.tsv')

In [6]:
'''
Uncomment the following code to download data if file(image-predictions.tsv) does not exist
'''

# url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

# response = requests.get(url, allow_redirects=True)

# with open(image_predictions_filepath, 'wb') as f:
#     f.write(response.content)

'\nUncomment the following code to download data if file(image-predictions.tsv) does not exist\n'

In [7]:
df_image_predictions_old = pd.read_csv(image_predictions_filepath, sep="\t")

### c. Any Additional Data

**Via Twitter API**

In [8]:
json_filepath = os.path.join(data_dir, "tweet_json.txt")

In [9]:
'''
Uncomment the following code to download data if file(tweet_json.txt) does not exist
'''

# with open('twitter-credential.json') as f:
#     credentials = json.load(f)

# auth = tweepy.OAuthHandler(credentials['consumer_key'], credentials['consumer_secret'])

# auth.set_access_token(credentials['access_token'], credentials['access_token_secret'])

# api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

# tweet_ids = df_wrd_twitter_old['tweet_id']

# statuses = []

# for tweet_id in tqdm(tweet_ids):

#     try:

#         status = api.get_status(tweet_id, tweet_mode='extended')

#         statuses.append(status._json)

#     except:

#         continue

# with open(json_filepath, 'w') as outfile:
#     for status in statuses:
#         json.dump(status, outfile)
#         outfile.write("\n")

'\nUncomment the following code to download data if file(tweet_json.txt) does not exist\n'

In [10]:
df_tweet_json_old = pd.read_json(json_filepath, lines=True)

**Via Kaggle** [For all available dog breeds]

Reference: 
    [https://www.kaggle.com/c/dog-breed-identification/data](https://www.kaggle.com/c/dog-breed-identification/data)

In [11]:
df_dog_breeds_old = pd.read_csv(os.path.join(data_dir, "labels.csv"))

<a id='assessing'></a>
# II. Assessing Data
---

In [12]:
'''
Uncomment to view data
'''

# df_wrd_twitter_old

'\nUncomment to view data\n'

> **Summary**
> * name, doggo, floofer, pupper and puppo columns contain "None"
> * name contains "a" as a value. May contain other nonsense name
> * tweet information and dog information in the same table
> * name (refers to dog name) is not very descriptive since tweet information and dog information are in the same table
> * text (refers to status update) is not very descriptive since tweet information and dog information are in the same table

In [13]:
'''
Uncomment to view data
'''

# df_image_predictions_old

'\nUncomment to view data\n'

> **Summary**
> * img_num, p1, p1_conf, p1_dog, etc. are not very descriptive
> * Values of p1, p2, p3 have formatting issues. Some starts with uppercase characters, but others start with lowercase characters

In [14]:
'''
Uncomment to view data
'''

# df_tweet_json_old

'\nUncomment to view data\n'

> **Summary**
> * For each type of id, there are two columns for it for the same piece of information except that their data types are different

In [15]:
'''
Uncomment to view data
'''

# df_dog_breeds_old

'\nUncomment to view data\n'

In [16]:
df_wrd_twitter_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

> **Summary**
> * All ids(tweet_id, in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id)
 have numeric data type instead of string
> * timestamp is of string type
> * Even though some columns have null values, it is reasonable
> * doggo, floofer, pupper and puppo can be combined into a single column
> * Columns may be ignored: 
>   in_reply_to_status_id, in_reply_to_user_id, source, expanded_urls

In [17]:
df_image_predictions_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

> **Summary**
> * The data type of tweet_id is integer
> * No missing values in this table

In [18]:
df_tweet_json_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   datetime64[ns, UTC]
 1   id                             2331 non-null   int64
 2   id_str                         2331 non-null   int64
 3   full_text                      2331 non-null   object
 4   truncated                      2331 non-null   bool
 5   display_text_range             2331 non-null   object
 6   entities                       2331 non-null   object
 7   extended_entities              2059 non-null   object
 8   source                         2331 non-null   object
 9   in_reply_to_status_id          77 non-null     float64
 10  in_reply_to_status_id_str      77 non-null     float64
 11  in_reply_to_user_id            77 non-null     float64
 12  in_reply_to_user_id_str        77 non-null     float64
 13  in_reply_to_screen_name        77 non-null     object
 14  user                           2331 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2331 non-null   bool
 20  retweet_count                  2331 non-null   int64
 21  favorite_count                 2331 non-null   int64
 22  favorited                      2331 non-null   bool
 23  retweeted                      2331 non-null   bool
 24  possibly_sensitive             2196 non-null   float64
 25  possibly_sensitive_appealable  2196 non-null   float64
 26  lang                           2331 non-null   object
 27  retweeted_status               163 non-null    object
 28  quoted_status_id               26 non-null     float64
 29  quoted_status_id_str           26 non-null     float64
 30  quoted_status_permalink        26 non-null     object
 31  quoted_status                  24 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(12)
memory usage: 519.1+ KB

> **Summary**
> * Columns may be ignored: 
>   * created_at, truncated, in_reply_to_user_id, in_reply_to_status_id_str, in_reply_to_user_id
>   * in_reply_to_user_id_str, in_reply_to_screen_name, is_quote_status, possibly_sensitive
>   * possibly_sensitive_appealable, lang, quoted_status_id, quoted_status_id_str, quoted_status_permalink
>   * quoted_status, geo, coordinates, place
> * id is of numeric type

In [19]:
df_dog_breeds_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222 entries, 0 to 10221
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10222 non-null  object
 1   breed   10222 non-null  object
dtypes: object(2)
memory usage: 159.8+ KB

#### ****************************** Further Investigation On Data  ******************************

In [20]:
df_wrd_twitter_old.duplicated(['tweet_id']).sum()

0

In [21]:
df_wrd_twitter_old.duplicated(['name']).sum()

1399

In [22]:
df_wrd_twitter_old['name'].value_counts().to_dict()

{'None': 745,
 'a': 55,
 'Charlie': 12,
 'Lucy': 11,
 'Cooper': 11,
 'Oliver': 11,
 'Tucker': 10,
 'Penny': 10,
 'Lola': 10,
 'Bo': 9,
 'Winston': 9,
 'Sadie': 8,
 'the': 8,
 'Bailey': 7,
 'Buddy': 7,
 'Toby': 7,
 'an': 7,
 'Daisy': 7,
 'Jax': 6,
 'Rusty': 6,
 'Jack': 6,
 'Scout': 6,
 'Oscar': 6,
 'Dave': 6,
 'Milo': 6,
 'Leo': 6,
 'Bella': 6,
 'Stanley': 6,
 'Koda': 6,
 'Alfie': 5,
 'Chester': 5,
 'Bentley': 5,
 'Sunny': 5,
 'Louis': 5,
 'Oakley': 5,
 'Gus': 5,
 'Finn': 5,
 'Sammy': 5,
 'Phil': 5,
 'very': 5,
 'George': 5,
 'Larry': 5,
 'Jerry': 4,
 'Clarence': 4,
 'one': 4,
 'Bruce': 4,
 'Duke': 4,
 'Reginald': 4,
 'Archie': 4,
 'Ruby': 4,
 'Bear': 4,
 'Gary': 4,
 'Luna': 4,
 'Jeffrey': 4,
 'Boomer': 4,
 'just': 4,
 'Beau': 4,
 'Scooter': 4,
 'Derek': 4,
 'Maximus': 4,
 'Gerald': 4,
 'Loki': 4,
 'quite': 4,
 'Clark': 4,
 'Dexter': 4,
 'Maggie': 4,
 'Moose': 4,
 'Winnie': 4,
 'Hank': 4,
 'Sophie': 4,
 'Sampson': 4,
 'Maddie': 4,
 'Walter': 4,
 'Riley': 4,
 'Reggie': 4,
 'Cassie': 4,
 'Shadow': 4,
 'Chip': 4,
 'Brody': 4,
 'Carl': 4,
 'Zoey': 3,
 'Otis': 3,
 'Rosie': 3,
 'Arnie': 3,
 'Waffles': 3,
 'Ted': 3,
 'Earl': 3,
 'Lorenzo': 3,
 'Gizmo': 3,
 'Samson': 3,
 'Calvin': 3,
 'Louie': 3,
 'Jimothy': 3,
 'Peaches': 3,
 'Nala': 3,
 'Ellie': 3,
 'Klevin': 3,
 'Mia': 3,
 'Kyle': 3,
 'Reese': 3,
 'Zeke': 3,
 'Doug': 3,
 'Colby': 3,
 'Frankie': 3,
 'Vincent': 3,
 'Wyatt': 3,
 'Sebastian': 3,
 'Coco': 3,
 'Wilson': 3,
 'Rory': 3,
 'Olive': 3,
 'Paisley': 3,
 'Lily': 3,
 'Wallace': 3,
 'Steven': 3,
 'Malcolm': 3,
 'Max': 3,
 'Curtis': 2,
 'Kevin': 2,
 'Kenny': 2,
 'Trooper': 2,
 'Blitz': 2,
 'Calbert': 2,
 'Jeph': 2,
 'Quinn': 2,
 'Canela': 2,
 'Thumas': 2,
 'Rizzy': 2,
 'Philbert': 2,
 'Moreton': 2,
 'Chipson': 2,
 'Bell': 2,
 'Fred': 2,
 'Leela': 2,
 'Dawn': 2,
 'Penelope': 2,
 'Maxaroni': 2,
 'Ollie': 2,
 'Kirby': 2,
 'Cupcake': 2,
 'Chompsky': 2,
 'Ozzy': 2,
 'Pipsy': 2,
 'getting': 2,
 'Elliot': 2,
 'Kreg': 2,
 'CeCe': 2,
 'not': 2,
 'Charles': 2,
 'Ava': 2,
 'Harold': 2,
 'Bisquick': 2,
 'Kreggory': 2,
 'Terrance': 2,
 'Raymond': 2,
 'Shaggy': 2,
 'Levi': 2,
 'mad': 2,
 'Jamesy': 2,
 'Fizz': 2,
 'Butter': 2,
 'Pablo': 2,
 'Atticus': 2,
 'Tyr': 2,
 'Lenny': 2,
 'Abby': 2,
 'Astrid': 2,
 'Griffin': 2,
 'Kilo': 2,
 'Gromit': 2,
 'Paull': 2,
 'Olivia': 2,
 'Tyrone': 2,
 'Neptune': 2,
 'Romeo': 2,
 'Phred': 2,
 'Ash': 2,
 'Sugar': 2,
 'Panda': 2,
 'Logan': 2,
 'Cody': 2,
 'Coops': 2,
 'Dash': 2,
 'Bob': 2,
 'Marley': 2,
 'Franklin': 2,
 'Opal': 2,
 'Finley': 2,
 'Sansa': 2,
 'Benedict': 2,
 'Meyer': 2,
 'Aspen': 2,
 'Belle': 2,
 'Jiminy': 2,
 'Jesse': 2,
 'Layla': 2,
 'Moe': 2,
 'Bernie': 2,
 'Gabe': 2,
 'Luca': 2,
 'Frank': 2,
 'Keith': 2,
 'Rocky': 2,
 'Klein': 2,
 'Watson': 2,
 'Bubbles': 2,
 'Bungalo': 2,
 'Hunter': 2,
 'Ken': 2,
 'Timison': 2,
 'Betty': 2,
 'Rufus': 2,
 'Anakin': 2,
 'Lilly': 2,
 'Kenneth': 2,
 'Odie': 2,
 'Lennon': 2,
 'Remington': 2,
 'Cali': 2,
 'Lincoln': 2,
 'Pippa': 2,
 'Cash': 2,
 'Chuckles': 2,
 'Stephan': 2,
 'Patrick': 2,
 'Jackson': 2,
 'Crystal': 2,
 'Albert': 2,
 'Linda': 2,
 'Brad': 2,
 'Roosevelt': 2,
 'Baxter': 2,
 'Django': 2,
 'Yogi': 2,
 'Nollie': 2,
 'Sierra': 2,
 'Davey': 2,
 'Stubert': 2,
 'Rubio': 2,
 'Theodore': 2,
 'Carly': 2,
 'Chet': 2,
 'Juno': 2,
 'Herald': 2,
 'Emmy': 2,
 'Terry': 2,
 'Alice': 2,
 'Sam': 2,
 'Hurley': 2,
 'Churlie': 2,
 'Oliviér': 2,
 'Eli': 2,
 'Oshie': 2,
 'Nelly': 2,
 'Hobbes': 2,
 'Piper': 2,
 'Atlas': 2,
 'Baloo': 2,
 'Sandy': 2,
 'Titan': 2,
 'Happy': 2,
 'Jimison': 2,
 'Mister': 2,
 'Dakota': 2,
 'Chelsea': 2,
 'Lou': 2,
 'Keurig': 2,
 'Herm': 2,
 'Fiona': 2,
 'Sarge': 2,
 'Balto': 2,
 'Flávio': 2,
 'Doc': 2,
 'Gidget': 2,
 'Mattie': 2,
 'Wally': 2,
 'Benji': 2,
 'actually': 2,
 'Hammond': 2,
 'Rocco': 2,
 'Kyro': 2,
 'Phineas': 2,
 'Percy': 2,
 'Indie': 2,
 'Solomon': 2,
 'Albus': 2,
 'Smokey': 2,
 'Misty': 2,
 'Pickles': 2,
 'Herschel': 2,
 'Seamus': 2,
 'Axel': 2,
 'Hercules': 2,
 'Eve': 2,
 'Harper': 2,
 'Christoper': 1,
 'Storkson': 1,
 'Bobbay': 1,
 'Bertson': 1,
 'Ace': 1,
 'Heinrich': 1,
 'O': 1,
 'Rodney': 1,
 'Shooter': 1,
 'Erik': 1,
 'Daniel': 1,
 'Remus': 1,
 'Timofy': 1,
 'Alfy': 1,
 'Cedrick': 1,
 'Roscoe': 1,
 'Chuck': 1,
 'Maxwell': 1,
 'Yukon': 1,
 'Clifford': 1,
 'Anthony': 1,
 'Milky': 1,
 'Jessifer': 1,
 'Dido': 1,
 'Perry': 1,
 'Holly': 1,
 'unacceptable': 1,
 'Amber': 1,
 'Finnegus': 1,
 'Pinot': 1,
 'Jo': 1,
 'Taco': 1,
 'Maude': 1,
 'Ralphson': 1,
 'Clyde': 1,
 'Kane': 1,
 'Sid': 1,
 'Ole': 1,
 'this': 1,
 'Mutt': 1,
 'Richie': 1,
 'Sprinkles': 1,
 'Scruffers': 1,
 'Ike': 1,
 'Farfle': 1,
 'Bloo': 1,
 'officially': 1,
 'my': 1,
 'Schnozz': 1,
 'Ferg': 1,
 'Nico': 1,
 'Adele': 1,
 'Timmy': 1,
 'Terrenth': 1,
 'Blipson': 1,
 'Leonard': 1,
 'Clybe': 1,
 'Zoe': 1,
 'Vinnie': 1,
 'Fiji': 1,
 'Tuco': 1,
 'Cecil': 1,
 'Crimson': 1,
 'Mairi': 1,
 'Franq': 1,
 'Geoff': 1,
 'Devón': 1,
 'Harvey': 1,
 'Venti': 1,
 'Brandi': 1,
 'Banditt': 1,
 'Lorelei': 1,
 'Noah': 1,
 'Tuck': 1,
 'Billl': 1,
 'Jett': 1,
 'Rolf': 1,
 'Bloop': 1,
 'Sailer': 1,
 'Ralphé': 1,
 'Aldrick': 1,
 'Dwight': 1,
 'Ronnie': 1,
 'Steve': 1,
 'Lucia': 1,
 'Tonks': 1,
 'Beebop': 1,
 'Swagger': 1,
 'Koko': 1,
 'Hall': 1,
 'Ralphy': 1,
 'Mike': 1,
 'Emma': 1,
 'Ricky': 1,
 'Luther': 1,
 'all': 1,
 'Stephanus': 1,
 'Moofasa': 1,
 'Travis': 1,
 'Trevith': 1,
 'Joshwa': 1,
 'Kona': 1,
 'Herb': 1,
 'Mabel': 1,
 'Lugan': 1,
 'Cal': 1,
 'Lilah': 1,
 'Lacy': 1,
 'Cupid': 1,
 'Stu': 1,
 'Arlo': 1,
 'Cora': 1,
 'Bookstore': 1,
 'Orion': 1,
 'Buckley': 1,
 'Sonny': 1,
 'Tedrick': 1,
 'Rinna': 1,
 'Socks': 1,
 'Sparky': 1,
 'Bradley': 1,
 'Newt': 1,
 'Benny': 1,
 'Cannon': 1,
 'DonDon': 1,
 'Jazz': 1,
 'Henry': 1,
 'Carll': 1,
 'Ruffles': 1,
 'Dotsy': 1,
 'Thor': 1,
 'Livvie': 1,
 'Gilbert': 1,
 'Champ': 1,
 'Marty': 1,
 'Tito': 1,
 'Iroh': 1,
 'Kollin': 1,
 'Pete': 1,
 'Rilo': 1,
 'Taz': 1,
 'Bode': 1,
 'Skye': 1,
 'Ashleigh': 1,
 'Kirk': 1,
 'Damon': 1,
 'Billy': 1,
 'Derby': 1,
 'Butters': 1,
 'Goliath': 1,
 'Chaz': 1,
 'Binky': 1,
 'Jomathan': 1,
 'Marq': 1,
 'Mason': 1,
 'Edmund': 1,
 'Ed': 1,
 'Miguel': 1,
 'Fillup': 1,
 'Winifred': 1,
 'Dylan': 1,
 'Eugene': 1,
 'Mya': 1,
 'Pluto': 1,
 'Jazzy': 1,
 'Hubertson': 1,
 'Superpup': 1,
 'Gert': 1,
 'Bubba': 1,
 'Sora': 1,
 'Willy': 1,
 'Marlee': 1,
 'Monster': 1,
 'Horace': 1,
 'Grady': 1,
 'Obie': 1,
 'Combo': 1,
 'such': 1,
 'Aja': 1,
 'Barclay': 1,
 'Harrison': 1,
 'Coopson': 1,
 'Banjo': 1,
 'Harnold': 1,
 'Snicku': 1,
 'Tebow': 1,
 'Mauve': 1,
 'Sundance': 1,
 'BeBe': 1,
 'Mimosa': 1,
 'Colin': 1,
 'Ginger': 1,
 'Brandy': 1,
 'Rover': 1,
 'Kevon': 1,
 'Jebberson': 1,
 'Grizzwald': 1,
 'Jed': 1,
 'Smiley': 1,
 'Gin': 1,
 'Rudy': 1,
 'infuriating': 1,
 'Rose': 1,
 'Remy': 1,
 'Fletcher': 1,
 'Evy': 1,
 'Rey': 1,
 'Zeus': 1,
 'Pip': 1,
 'Flurpson': 1,
 'Georgie': 1,
 'Carper': 1,
 'Glacier': 1,
 'Darrel': 1,
 'incredibly': 1,
 'Brandonald': 1,
 'Sprout': 1,
 'Lambeau': 1,
 'Crouton': 1,
 'Durg': 1,
 'Arnold': 1,
 'Snoopy': 1,
 'Fwed': 1,
 'Harry': 1,
 'Mack': 1,
 'Philippe': 1,
 'Baron': 1,
 'Ivar': 1,
 'Bodie': 1,
 'Rambo': 1,
 'Jay': 1,
 'Teddy': 1,
 'Ozzie': 1,
 'Olaf': 1,
 'Jarvis': 1,
 'Gunner': 1,
 'Gabby': 1,
 'Caryl': 1,
 'Scott': 1,
 'Bronte': 1,
 'Jimbo': 1,
 'Sephie': 1,
 'Alf': 1,
 'Lulu': 1,
 'Jaycob': 1,
 'Bobb': 1,
 'Striker': 1,
 'Tater': 1,
 'Arlen': 1,
 'Spencer': 1,
 'Comet': 1,
 'Pepper': 1,
 'Grizz': 1,
 'Cermet': 1,
 'Severus': 1,
 'Bones': 1,
 'Walker': 1,
 'Juckson': 1,
 'Blakely': 1,
 'Pippin': 1,
 'Gustav': 1,
 'Beemo': 1,
 'Carter': 1,
 'Saydee': 1,
 'Willie': 1,
 'Humphrey': 1,
 'Izzy': 1,
 'Karl': 1,
 'Stella': 1,
 'Dale': 1,
 'Julius': 1,
 'Michelangelope': 1,
 'Ebby': 1,
 'Reagan': 1,
 'Tango': 1,
 'Puff': 1,
 'Eriq': 1,
 'Pubert': 1,
 'Tess': 1,
 'Rorie': 1,
 'Pavlov': 1,
 'Acro': 1,
 'Alexanderson': 1,
 'Raphael': 1,
 'Huxley': 1,
 'Ben': 1,
 'Berkeley': 1,
 'Kial': 1,
 'Chef': 1,
 'Furzey': 1,
 'Jeremy': 1,
 'Rufio': 1,
 'Claude': 1,
 'Robin': 1,
 'Fynn': 1,
 'Mookie': 1,
 'Gustaf': 1,
 'Mollie': 1,
 'Brownie': 1,
 'Rumble': 1,
 'Rupert': 1,
 'Wafer': 1,
 'Lizzie': 1,
 'Geno': 1,
 'Alejandro': 1,
 'Jordy': 1,
 'Ziva': 1,
 'Angel': 1,
 'Laela': 1,
 'Snoop': 1,
 'Covach': 1,
 'Goose': 1,
 'Lilli': 1,
 'Trigger': 1,
 'Chesterson': 1,
 'Emmie': 1,
 'Dunkin': 1,
 'Dook': 1,
 'old': 1,
 'Linus': 1,
 'River': 1,
 'Ridley': 1,
 'Tyrus': 1,
 'Darla': 1,
 'Kara': 1,
 'Coleman': 1,
 'Halo': 1,
 'Mac': 1,
 'Hamrick': 1,
 'Kellogg': 1,
 'Brian': 1,
 'Kaiya': 1,
 'Hazel': 1,
 'Shakespeare': 1,
 'Jaspers': 1,
 'William': 1,
 'Tom': 1,
 'Torque': 1,
 'Jarod': 1,
 'Skittle': 1,
 'Marvin': 1,
 'Hero': 1,
 'Tayzie': 1,
 'Ralphus': 1,
 'Ralph': 1,
 'Willem': 1,
 'Strider': 1,
 'Lipton': 1,
 'Brockly': 1,
 'Andru': 1,
 'Mojo': 1,
 'life': 1,
 'JD': 1,
 'Hanz': 1,
 'Jessiga': 1,
 'Miley': 1,
 'light': 1,
 'Yoda': 1,
 'Bobble': 1,
 'Aiden': 1,
 'DayZ': 1,
 'Kendall': 1,
 'Pumpkin': 1,
 'Timber': 1,
 'Oddie': 1,
 'Dobby': 1,
 'Akumi': 1,
 'Edgar': 1,
 'Tug': 1,
 'Eleanor': 1,
 'Brudge': 1,
 'Dot': 1,
 'Antony': 1,
 'Sage': 1,
 'Meera': 1,
 'Clarq': 1,
 'Gòrdón': 1,
 'Bert': 1,
 'Traviss': 1,
 'Vince': 1,
 'Tove': 1,
 'Malikai': 1,
 'Rumpole': 1,
 'Dug': 1,
 'Bauer': 1,
 'Tassy': 1,
 'Ulysses': 1,
 'Jersey': 1,
 'Dante': 1,
 'Glenn': 1,
 'Longfellow': 1,
 'Dietrich': 1,
 'Ito': 1,
 'Cuddles': 1,
 'Tessa': 1,
 'Aqua': 1,
 'Filup': 1,
 'Millie': 1,
 'Kenzie': 1,
 'Maks': 1,
 'Ambrose': 1,
 'Grizzie': 1,
 'Asher': 1,
 'Kallie': 1,
 'Cleopatricia': 1,
 'Joey': 1,
 'Dixie': 1,
 'Schnitzel': 1,
 'Tobi': 1,
 'Ester': 1,
 'Lenox': 1,
 'Harlso': 1,
 'Spark': 1,
 'Amy': 1,
 'by': 1,
 'Divine': 1,
 'Tino': 1,
 'Leonidas': 1,
 'Chesney': 1,
 'Cheesy': 1,
 'Chloe': 1,
 'Blue': 1,
 'Bonaparte': 1,
 'Kathmandu': 1,
 'Mona': 1,
 'Jeffrie': 1,
 'Jerome': 1,
 'Tycho': 1,
 'Jeffri': 1,
 'Iggy': 1,
 'Cilantro': 1,
 'Mo': 1,
 'Rizzo': 1,
 'Keet': 1,
 'Eevee': 1,
 'Boots': 1,
 'Petrick': 1,
 'Dallas': 1,
 'Bowie': 1,
 'Sunshine': 1,
 'Andy': 1,
 'Jareld': 1,
 'Monkey': 1,
 'Beckham': 1,
 'Margo': 1,
 'Autumn': 1,
 'Brutus': 1,
 'Kody': 1,
 'Mosby': 1,
 'Edd': 1,
 'Shadoe': 1,
 'Birf': 1,
 'Buddah': 1,
 'Ronduh': 1,
 'Kayla': 1,
 'Bilbo': 1,
 'Zuzu': 1,
 'Todo': 1,
 'Berb': 1,
 'Sweet': 1,
 'Grey': 1,
 'Howie': 1,
 'Stormy': 1,
 'Mary': 1,
 'Pherb': 1,
 'Zooey': 1,
 'Mitch': 1,
 'Maya': 1,
 'Dutch': 1,
 'Randall': 1,
 'Nimbus': 1,
 'Kingsley': 1,
 'Lucky': 1,
 'Freddery': 1,
 'Bluebert': 1,
 'Ember': 1,
 'Simba': 1,
 'Nida': 1,
 'Chase': 1,
 'Link': 1,
 'Dex': 1,
 'Napolean': 1,
 'General': 1,
 'Kulet': 1,
 'Ralpher': 1,
 'Wiggles': 1,
 'Sweets': 1,
 'Sandra': 1,
 'Wesley': 1,
 'Lassie': 1,
 'Lili': 1,
 'Mingus': 1,
 'Rontu': 1,
 'Godi': 1,
 'Clarkus': 1,
 'Spanky': 1,
 'Pupcasso': 1,
 'Huck': 1,
 'Emanuel': 1,
 'Pilot': 1,
 'Bayley': 1,
 'Jockson': 1,
 'Duddles': 1,
 'Liam': 1,
 'Einstein': 1,
 'Sojourner': 1,
 'Maisey': 1,
 'Ralphie': 1,
 'Shawwn': 1,
 'Naphaniel': 1,
 'Monty': 1,
 'Lillie': 1,
 'Jackie': 1,
 'Deacon': 1,
 'Rueben': 1,
 'Kanu': 1,
 'Tanner': 1,
 'Murphy': 1,
 'Kota': 1,
 'Corey': 1,
 'Frönq': 1,
 'Hermione': 1,
 'Craig': 1,
 'Charleson': 1,
 'Cheryl': 1,
 'Dudley': 1,
 'Mark': 1,
 'Bruno': 1,
 'Brady': 1,
 'Hector': 1,
 'Tiger': 1,
 'Lance': 1,
 'Laika': 1,
 'Chubbs': 1,
 'Tripp': 1,
 'Lolo': 1,
 'Creg': 1,
 'Toffee': 1,
 'Major': 1,
 'Kloey': 1,
 'Snickers': 1,
 'Duchess': 1,
 'Brat': 1,
 'Griswold': 1,
 'Tupawc': 1,
 'Theo': 1,
 'Katie': 1,
 'Rhino': 1,
 'Chadrick': 1,
 'Tilly': 1,
 'Samsom': 1,
 'Enchilada': 1,
 'Carbon': 1,
 'Stewie': 1,
 'Patch': 1,
 'Florence': 1,
 'Bobby': 1,
 'Jiminus': 1,
 'Norman': 1,
 'Josep': 1,
 'Jangle': 1,
 'Stefan': 1,
 'Pawnd': 1,
 'Boston': 1,
 'Amélie': 1,
 'Rodman': 1,
 'Batdog': 1,
 'Anna': 1,
 'Zeek': 1,
 'Meatball': 1,
 'Ralf': 1,
 'Godzilla': 1,
 'Barney': 1,
 'Shnuggles': 1,
 'Vinscent': 1,
 'Chuq': 1,
 'Gerbald': 1,
 'Karma': 1,
 'Jeb': 1,
 'his': 1,
 'Donny': 1,
 'Rascal': 1,
 'Zara': 1,
 'Oreo': 1,
 'Sky': 1,
 'Gordon': 1,
 'Kramer': 1,
 'Doobert': 1,
 'Shelby': 1,
 'Shikha': 1,
 'Molly': 1,
 'Darby': 1,
 'Brooks': 1,
 'Pancake': 1,
 'Sailor': 1,
 'Danny': 1,
 'Bradlay': 1,
 'Kobe': 1,
 'Callie': 1,
 'Sully': 1,
 'Crumpet': 1,
 'Tedders': 1,
 'Skittles': 1,
 'Wishes': 1,
 'Trip': 1,
 'Kawhi': 1,
 'Sobe': 1,
 'Bruiser': 1,
 'Odin': 1,
 'Opie': 1,
 'Peanut': 1,
 'Siba': 1,
 'Noosh': 1,
 'Obi': 1,
 'Tommy': 1,
 'Biden': 1,
 'Reptar': 1,
 'space': 1,
 'Alexander': 1,
 'Kaia': 1,
 'Chevy': 1,
 'Jameson': 1,
 'Fido': 1,
 'Julio': 1,
 'Stark': 1,
 'Blanket': 1,
 'Fabio': 1,
 'Nigel': 1,
 'Arya': 1,
 'Staniel': 1,
 'Stuart': 1,
 'Burt': 1,
 'Jim': 1,
 'Willow': 1,
 'Vixen': 1,
 'Crawford': 1,
 'Diogi': 1,
 'Ron': 1,
 'Lupe': 1,
 'Al': 1,
 'Karll': 1,
 'Eazy': 1,
 'Rooney': 1,
 'Augie': 1,
 'Barry': 1,
 'Jonah': 1,
 'Blu': 1,
 'Poppy': 1,
 'Beya': 1,
 'Flash': 1,
 'Loomis': 1,
 'Kuyu': 1,
 'Aubie': 1,
 'Strudel': 1,
 'Genevieve': 1,
 'Charl': 1,
 'Shiloh': 1,
 'Dewey': 1,
 'Jennifur': 1,
 'Apollo': 1,
 'Nugget': 1,
 'Suki': 1}

> **Summary**
> * Have invalid names other than 'None', eg: a, an, the, one. All starts with lowercase characters.
> * Name column has duplicated entries

In [23]:
p = re.compile('[0-9]+/10')
p_invalid = re.compile('[0-9]+/[0-9]+/[0-9]+')

bad_count = 0
none_count = 0
good_count = 0


for text, denominator, numerator in zip(df_wrd_twitter_old['text'].values, df_wrd_twitter_old['rating_denominator'].values, df_wrd_twitter_old['rating_numerator'].values):
    result = p.search(text)
    if result is not None and denominator != 10: # when denominators and numerators are wrong
        message = "{} {} {} ************************ {}".format(result.group(), numerator, denominator, text)
        logging.error(message)
        logging.error("\n")
        bad_count += 1
    elif result is None and p_invalid.search(text) == None:
#         print(numerator, denominator, "~~~~~~~~~~~~~~~~~~~~~~~", text)
#         print()
        none_count += 1
    elif result is not None and denominator == 10:
        good_count += 1
    elif p_invalid.search(text) != None: # when parsing date as ratings
        message = "{} {} ************************ {}".format(numerator, denominator, text)
        logging.error(message)
        logging.error("\n")


print("Number of true positive ratings: ", good_count)
print("Number of wrong ratings: ", bad_count)
print("Please check for logs for wrong ratings")

Number of true positive ratings:  2333
Number of wrong ratings:  7
Please check for logs for wrong ratings

In [24]:
text_to_remove = []

for text, denominator, numerator in zip(
    df_wrd_twitter_old['text'].values, 
    df_wrd_twitter_old['rating_denominator'].values, 
    df_wrd_twitter_old['rating_numerator'].values):
    
    result = p.search(text)
    
    if result is not None and denominator != 10:
        text_to_remove.append(text)
        
df_wrd_twitter_old[df_wrd_twitter_old.text.isin(text_to_remove)][
    ['text', 'rating_denominator', 'rating_numerator']]

,text,rating_denominator,rating_numerator
313,@jonnysun @Lin_Manuel ok jomny I know you're e...,0,960
784,"RT @dog_rates: After so many requests, this is...",11,9
1068,"After so many requests, this is Bretagne. She ...",11,9
1165,Happy 4/20 from the squad! 13/10 for all https...,20,4
1202,This is Bluebert. He just saw that both #Final...,50,50
1662,This is Darrel. He just robbed a 7/11 and is i...,11,7
2335,This is an Albanian 3 1/2 legged Episcopalian...,2,1

> **Summary**
> * There are 7 rows in df_wrd_twitter_old with wrong denominators and numerators
> * There is 2 rows parsing time as ratings: 1) 24/7 2) 11/15/15

In [25]:
df_wrd_twitter_old.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [26]:
df_wrd_twitter_old['rating_denominator'].unique()

array([ 10,   0,  15,  70,   7,  11, 150, 170,  20,  50,  90,  80,  40,
       130, 110,  16, 120,   2])

In [27]:
df_image_predictions_old.duplicated().sum()

0

In [28]:
df_image_predictions_old.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [29]:
# df_tweet_json_old.duplicated().sum()

'''
Have TypeError after executing the above statement
- TypeError: unhashable type: 'list'
'''

"\nHave TypeError after executing the above statement\n- TypeError: unhashable type: 'list'\n"

In [30]:
df_tweet_json_old.isnull().sum()

created_at                          0
id                                  0
id_str                              0
full_text                           0
truncated                           0
display_text_range                  0
entities                            0
extended_entities                 272
source                              0
in_reply_to_status_id            2254
in_reply_to_status_id_str        2254
in_reply_to_user_id              2254
in_reply_to_user_id_str          2254
in_reply_to_screen_name          2254
user                                0
geo                              2331
coordinates                      2331
place                            2330
contributors                     2331
is_quote_status                     0
retweet_count                       0
favorite_count                      0
favorited                           0
retweeted                           0
possibly_sensitive                135
possibly_sensitive_appealable     135
lang                                0
retweeted_status                 2168
quoted_status_id                 2305
quoted_status_id_str             2305
quoted_status_permalink          2305
quoted_status                    2307
dtype: int64

In [31]:
df_dog_breeds_old.duplicated(['breed']).sum()

10102

In [32]:
df_dog_breeds_old.isnull().sum()

id       0
breed    0
dtype: int64

<a id='cleaning'></a>
# III. Cleaning Data 
---

In [33]:
df_wrd_twitter = df_wrd_twitter_old.copy()

In [34]:
df_image_predictions = df_image_predictions_old.copy()

In [35]:
df_tweet_json = df_tweet_json_old.copy()

In [36]:
df_dog_breeds = df_dog_breeds_old.copy()

---
---
---

> Filter out retweets by removing the ones with retweeted_status_id

In [37]:
indices_with_retweets = df_wrd_twitter[df_wrd_twitter['retweeted_status_id'].notnull()].index

df_wrd_twitter.drop(indices_with_retweets, inplace=True)

In [38]:
df_wrd_twitter['retweeted_status_id'].unique()

array([nan])

> Remove rows with inaccurate ratings
> * Get all texts where denominator and numerator are wrong
> * Get all rows in the dataframe by matching texts
> * Remove these rows in the dataframe by indices

In [39]:
text_to_remove = []

for text, denominator, numerator in zip(
    df_wrd_twitter['text'].values, 
    df_wrd_twitter['rating_denominator'].values, 
    df_wrd_twitter['rating_numerator'].values):
    
    result = p.search(text)
    
    if result is not None and denominator != 10:
        text_to_remove.append(text)
    elif text.find('24/7') != -1 or text.find('11/15/15') != -1:
        text_to_remove.append(text)
        
len(text_to_remove)

8

In [40]:
indices_with_wrong_ratings = df_wrd_twitter[df_wrd_twitter.text.isin(text_to_remove)].index

df_wrd_twitter.drop(indices_with_wrong_ratings, inplace=True)

In [41]:
text_to_remove = []

for text, denominator, numerator in zip(
    df_wrd_twitter['text'].values, 
    df_wrd_twitter['rating_denominator'].values, 
    df_wrd_twitter['rating_numerator'].values):
    
    result = p.search(text)
    
    if result is not None and denominator != 10:
        text_to_remove.append(text)
    elif text.find('24/7') != -1 or text.find('11/15/15') != -1:
        text_to_remove.append(text)
        
len(text_to_remove)

0

>