# Import Modules
---

In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import os

from tqdm.notebook import tqdm

<a id='toc'></a>
# Table of Contents
---

* [I. Gathering](#gathering)
* [II. Assessing](#assessing)
* [III. Cleaning](#cleaning)
* [IV. Analyzing](#analyzing)
* [III. Visualizing](#visualizing)

<a id='gathering'></a>
# I. Gathering Data 
---

In [2]:
data_dir = "./data"

### a. WeRateDogs Twitter Archive

In [3]:
wrd_data_filepath = 'twitter-archive-enhanced.csv'

df_wrd_twitter_old = pd.read_csv(os.path.join(data_dir, wrd_data_filepath))

### b. Tweet Image Predictions

In [4]:
image_predictions_filepath = os.path.join(data_dir, 'image-predictions.tsv')

In [5]:
'''
Uncomment the following code to download data if file(image-predictions.tsv) does not exist
'''

# url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

# response = requests.get(url, allow_redirects=True)

# with open(image_predictions_filepath, 'wb') as f:
#     f.write(response.content)

'\nUncomment the following code to download data if file(image-predictions.tsv) does not exist\n'

In [6]:
df_image_predictions_old = pd.read_csv(image_predictions_filepath, sep="\t")

### c. Any Additional Data

**Via Twitter API**

In [7]:
json_filepath = os.path.join(data_dir, "tweet_json.txt")

In [8]:
'''
Uncomment the following code to download data if file(tweet_json.txt) does not exist
'''

# with open('twitter-credential.json') as f:
#     credentials = json.load(f)

'\nUncomment the following code to download data if file(tweet_json.txt) does not exist\n'

In [9]:
'''
Uncomment the following code to download data if file(tweet_json.txt) does not exist
'''

# auth = tweepy.OAuthHandler(credentials['consumer_key'], credentials['consumer_secret'])

# auth.set_access_token(credentials['access_token'], credentials['access_token_secret'])

# api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

'\nUncomment the following code to download data if file(tweet_json.txt) does not exist\n'

In [10]:
'''
Uncomment the following code to download data if file(tweet_json.txt) does not exist
'''

# tweet_ids = df_wrd_twitter_old['tweet_id']

# statuses = []

# for tweet_id in tqdm(tweet_ids):

#     try:

#         status = api.get_status(tweet_id, tweet_mode='extended')

#         statuses.append(status._json)

#     except:

#         continue

'\nUncomment the following code to download data if file(tweet_json.txt) does not exist\n'

In [11]:
'''
Uncomment the following code to download data if file(tweet_json.txt) does not exist
'''

# with open(json_filepath, 'w') as outfile:
#     for status in statuses:
#         json.dump(status, outfile)
#         outfile.write("\n")

'\nUncomment the following code to download data if file(tweet_json.txt) does not exist\n'

In [12]:
df_tweet_json_old = pd.read_json(json_filepath, lines=True)

**Via Kaggle** [For all available dog breeds]

Reference: [https://www.kaggle.com/c/dog-breed-identification/data](https://www.kaggle.com/c/dog-breed-identification/data)

In [13]:
df_dog_breeds_old = pd.read_csv(os.path.join(data_dir, "labels.csv"))

<a id='assessing'></a>
# II. Assessing Data
---

In [14]:
df_wrd_twitter_old

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [15]:
df_wrd_twitter_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [16]:
"None" in df_wrd_twitter_old.values

True

In [17]:
df_wrd_twitter_old.isin(["None"]).sum()

tweet_id                         0
in_reply_to_status_id            0
in_reply_to_user_id              0
timestamp                        0
source                           0
text                             0
retweeted_status_id              0
retweeted_status_user_id         0
retweeted_status_timestamp       0
expanded_urls                    0
rating_numerator                 0
rating_denominator               0
name                           745
doggo                         2259
floofer                       2346
pupper                        2099
puppo                         2326
dtype: int64

In [18]:
df_wrd_twitter_old.query("doggo != 'None' and floofer != 'None'")['tweet_id'].count()

1

In [19]:
df_wrd_twitter_old.query("doggo != 'None' and pupper != 'None'")['tweet_id'].count()

12

In [20]:
df_wrd_twitter_old.query("doggo != 'None' and puppo != 'None'")['tweet_id'].count()

1

In [21]:
df_wrd_twitter_old.query("doggo == 'None' and floofer == 'None' and pupper == 'None' and puppo == 'None' and name == 'None'")['tweet_id'].count()

585

In [22]:
df_wrd_twitter_old['rating_denominator'].unique()

array([ 10,   0,  15,  70,   7,  11, 150, 170,  20,  50,  90,  80,  40,
       130, 110,  16, 120,   2])

In [23]:
df_wrd_twitter_old.query("rating_denominator == 0")['rating_numerator'].unique()

array([960])

In [24]:
df_wrd_twitter_old.query("rating_denominator == 0").index

Int64Index([313], dtype='int64')

In [25]:
df_wrd_twitter_old['name'].unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devón', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flávio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

In [26]:
df_wrd_twitter_old[df_wrd_twitter_old['name'].str.islower()]['name'].unique()

array(['such', 'a', 'quite', 'not', 'one', 'incredibly', 'mad', 'an',
       'very', 'just', 'my', 'his', 'actually', 'getting', 'this',
       'unacceptable', 'all', 'old', 'infuriating', 'the', 'by',
       'officially', 'life', 'light', 'space'], dtype=object)

In [27]:
df_image_predictions_old

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [28]:
df_image_predictions_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [29]:
df_image_predictions_old['p1'].unique()

array(['Welsh_springer_spaniel', 'redbone', 'German_shepherd',
       'Rhodesian_ridgeback', 'miniature_pinscher',
       'Bernese_mountain_dog', 'box_turtle', 'chow', 'shopping_cart',
       'miniature_poodle', 'golden_retriever', 'Gordon_setter',
       'Walker_hound', 'pug', 'bloodhound', 'Lhasa', 'English_setter',
       'hen', 'desktop_computer', 'Italian_greyhound', 'Maltese_dog',
       'three-toed_sloth', 'ox', 'malamute', 'guinea_pig',
       'soft-coated_wheaten_terrier', 'Chihuahua',
       'black-and-tan_coonhound', 'coho', 'toy_terrier',
       'Blenheim_spaniel', 'Pembroke', 'llama',
       'Chesapeake_Bay_retriever', 'curly-coated_retriever', 'dalmatian',
       'Ibizan_hound', 'Border_collie', 'Labrador_retriever', 'seat_belt',
       'snail', 'miniature_schnauzer', 'Airedale', 'triceratops', 'swab',
       'hay', 'hyena', 'jigsaw_puzzle', 'West_Highland_white_terrier',
       'toy_poodle', 'giant_schnauzer', 'vizsla', 'vacuum', 'Rottweiler',
       'Siberian_husky', 'teddy', 'papillon', 'Saint_Bernard',
       'porcupine', 'goose', 'Tibetan_terrier', 'borzoi', 'beagle',
       'hare', 'Yorkshire_terrier', 'Pomeranian', 'electric_fan',
       'web_site', 'ibex', 'kuvasz', 'fire_engine', 'lorikeet',
       'flat-coated_retriever', 'toyshop', 'common_iguana',
       'Norwegian_elkhound', 'frilled_lizard', 'leatherback_turtle',
       'hamster', 'Angora', 'Arctic_fox', 'trombone', 'canoe',
       'king_penguin', 'shopping_basket', 'standard_poodle',
       'Staffordshire_bullterrier', 'basenji', 'Lakeland_terrier',
       'American_Staffordshire_terrier', 'bearskin', 'Shih-Tzu',
       'bustard', 'crash_helmet', 'French_bulldog', 'Pekinese',
       'komondor', 'ski_mask', 'malinois', 'kelpie', 'Brittany_spaniel',
       'cocker_spaniel', 'shower_curtain', 'basset', 'jellyfish',
       'doormat', 'Arabian_camel', 'lynx', 'hog', 'comic_book', 'minivan',
       'seashore', 'cuirass', 'Brabancon_griffon', 'candle', 'Eskimo_dog',
       'weasel', 'Christmas_stocking', 'washbasin', 'car_mirror',
       'piggy_bank', 'pot', 'boathouse', 'mud_turtle',
       'German_short-haired_pointer', 'Shetland_sheepdog',
       'Irish_terrier', 'cairn', 'platypus', 'English_springer',
       'whippet', 'ping-pong_ball', 'sea_urchin', 'bow_tie',
       'window_shade', "jack-o'-lantern", 'sorrel', 'Sussex_spaniel',
       'peacock', 'axolotl', 'wool', 'banana', 'Dandie_Dinmont',
       'Norwich_terrier', 'wood_rabbit', 'dhole', 'keeshond',
       'Norfolk_terrier', 'lacewing', 'dingo', 'brown_bear',
       'Old_English_sheepdog', 'scorpion', 'flamingo', 'microphone',
       'Samoyed', 'pitcher', 'African_hunting_dog', 'refrigerator',
       'picket_fence', 'tub', 'zebra', 'hermit_crab', 'swing', 'Doberman',
       'park_bench', 'feather_boa', 'Loafer', 'stone_wall', 'ice_bear',
       'prayer_rug', 'chimpanzee', 'china_cabinet', 'bee_eater',
       'tennis_ball', 'carton', 'killer_whale', 'ostrich', 'terrapin',
       'Siamese_cat', 'gondola', 'Great_Pyrenees', 'microwave',
       'starfish', 'sandbar', 'tusker', 'motor_scooter', 'ram',
       'leaf_beetle', 'wombat', 'schipperke', 'Newfoundland',
       'bull_mastiff', 'water_bottle', 'suit', 'toilet_seat', 'collie',
       'robin', 'Cardigan', 'Greater_Swiss_Mountain_dog', 'slug',
       'toilet_tissue', 'acorn_squash', 'soccer_ball',
       'African_crocodile', 'tick', 'ocarina', 'boxer', 'street_sign',
       'bow', 'stove', 'paper_towel', 'upright', 'dough',
       'Scottish_deerhound', 'bath_towel', 'standard_schnauzer',
       'walking_stick', 'Irish_water_spaniel', 'bubble', 'Boston_bull',
       'book_jacket', 'rain_barrel', 'black-footed_ferret', 'guenon',
       'Japanese_spaniel', 'water_buffalo', 'patio', 'cowboy_hat',
       'dogsled', 'maze', 'harp', 'panpipe', 'cash_machine', 'mailbox',
       'wallaby', 'EntleBucher', 'earthstar', 'pillow', 'bluetick',
       'space_heater', 'carousel', 'Irish_setter', 'birdhouse', 'snorkel',
       'bald_eagle', 'koala', 'Leonberg', 'cheetah', 'minibus',
       'Weimaraner', 'clog', 'dishwasher', 'white_wolf', 'sliding_door',
       'damselfly', 'Great_Dane', 'Tibetan_mastiff', 'cheeseburger',
       'fiddler_crab', 'bannister', 'crane', 'Scotch_terrier',
       'snowmobile', 'badger', 'bighorn', 'geyser', 'barrow', 'bison',
       'Mexican_hairless', 'ice_lolly', 'sea_lion', 'dining_table',
       'groenendael', 'Australian_terrier', 'beaver', 'briard',
       'Appenzeller', 'grey_fox', 'mousetrap', 'hippopotamus',
       'Border_terrier', 'hummingbird', 'tailed_frog', 'otter',
       'Egyptian_cat', 'four-poster', 'wild_boar', 'bathtub', 'agama',
       'muzzle', 'hotdog', 'bib', 'espresso', 'timber_wolf', 'meerkat',
       'nail', 'hammer', 'home_theater', 'alp', 'bonnet', 'handkerchief',
       'hand_blower', 'polecat', 'lakeside', 'studio_couch', 'cup',
       'cliff', 'Bedlington_terrier', 'lawn_mower', 'balloon',
       'sunglasses', 'rapeseed', 'traffic_light', 'coil', 'binoculars',
       'paddle', 'tiger_shark', 'sulphur-crested_cockatoo',
       'wire-haired_fox_terrier', 'Saluki', 'American_black_bear',
       'rotisserie', 'conch', 'skunk', 'bookshop', 'radio_telescope',
       'cougar', 'African_grey', 'coral_reef', 'lion', 'maillot',
       'Madagascar_cat', 'tabby', 'silky_terrier', 'giant_panda',
       'long-horned_beetle', 'Afghan_hound', 'clumber', 'sundial',
       'padlock', 'pool_table', 'quilt', 'beach_wagon', 'remote_control',
       'bakery', 'pedestal', 'gas_pump', 'bookcase', 'shield', 'loupe',
       'restaurant', 'prison', 'school_bus', 'cowboy_boot', 'jersey',
       'wooden_spoon', 'leopard', 'mortarboard', 'teapot',
       'military_uniform', 'washer', 'coffee_mug', 'fountain',
       'pencil_box', 'barbell', 'grille', 'revolver', 'envelope',
       'syringe', 'marmot', 'pole', 'laptop', 'basketball', 'tricycle',
       'convertible', 'limousine', 'orange'], dtype=object)

In [30]:
df_image_predictions_old['p2'].unique()

array(['collie', 'miniature_pinscher', 'malinois', 'redbone',
       'Rottweiler', 'English_springer', 'mud_turtle', 'Tibetan_mastiff',
       'shopping_basket', 'komondor', 'Yorkshire_terrier',
       'English_foxhound', 'bull_mastiff', 'German_shepherd', 'Shih-Tzu',
       'Newfoundland', 'cock', 'desk', 'toy_terrier', 'toy_poodle',
       'otter', 'Chesapeake_Bay_retriever', 'Siberian_husky', 'skunk',
       'Afghan_hound', 'bloodhound', 'barracouta', 'papillon',
       'cocker_spaniel', 'chow', 'Irish_terrier', 'chain_saw', 'beagle',
       'giant_schnauzer', 'Labrador_retriever', 'Pembroke', 'Chihuahua',
       'Weimaraner', 'slug', 'Brittany_spaniel', 'standard_schnauzer',
       'teddy', 'armadillo', 'African_hunting_dog', 'vizsla', 'doormat',
       'pug', 'Italian_greyhound', 'Samoyed', 'Pomeranian',
       'miniature_poodle', 'Lakeland_terrier', 'Irish_setter', 'swab',
       'malamute', 'bath_towel', 'Border_collie', 'Leonberg', 'drake',
       'French_bulldog', 'ice_bear', 'Christmas_stocking',
       'golden_retriever', 'standard_poodle', 'dhole', 'kuvasz',
       'Cardigan', 'silky_terrier', 'spotlight', 'dishwasher', 'bighorn',
       'tow_truck', 'hummingbird', 'English_setter', 'prayer_rug',
       'frilled_lizard', 'Pekinese', 'ox', 'boxer', 'hog', 'guinea_pig',
       'hen', 'wallaby', 'cowboy_boot', 'cornet', 'minivan', 'paddle',
       'basset', 'hamper', 'Bedlington_terrier', 'Shetland_sheepdog',
       'bow', 'Lhasa', 'pelican', 'toaster', 'groenendael',
       'Australian_terrier', 'llama', 'knee_pad', 'pillow',
       'Ibizan_hound', 'Old_English_sheepdog', 'Welsh_springer_spaniel',
       'coral_reef', 'bison', 'waffle_iron', 'tabby', 'bib', 'police_van',
       'Eskimo_dog', 'breastplate', 'German_short-haired_pointer',
       'Norfolk_terrier', 'Blenheim_spaniel', 'pickup',
       'miniature_schnauzer', 'lampshade', 'Tibetan_terrier',
       'Siamese_cat', 'borzoi', 'studio_couch', 'toilet_seat', 'hamster',
       'seat_belt', 'keeshond', 'koala', 'hair_spray', 'Saint_Bernard',
       'tray', 'American_Staffordshire_terrier', 'birdhouse', 'terrapin',
       'Staffordshire_bullterrier', 'briard',
       'West_Highland_white_terrier', 'spotted_salamander', 'tennis_ball',
       'porcupine', 'cardigan', 'corn', 'basenji', 'otterhound',
       'European_gallinule', 'indri', 'tailed_frog', 'beach_wagon',
       'siamang', 'orange', 'home_theater', 'cairn', 'hare',
       'Norwegian_elkhound', 'Brabancon_griffon', 'American_black_bear',
       'sulphur_butterfly', 'Sealyham_terrier', 'Walker_hound',
       'tarantula', 'Persian_cat', 'coral_fungus', 'accordion', 'kelpie',
       'Great_Pyrenees', 'wood_rabbit', 'black-and-tan_coonhound',
       'sunglasses', 'plow', 'whippet', 'rain_barrel', 'bathtub', 'tiger',
       'snail', 'tick', 'wire-haired_fox_terrier', 'water_bottle', 'wig',
       'platypus', 'Irish_wolfhound', 'ram', 'gorilla',
       'entertainment_center', 'toucan', 'mask', 'shopping_cart',
       'Sussex_spaniel', 'crate', 'grey_whale', 'badger', 'Airedale',
       'Arabian_camel', 'cockroach', 'lifeboat', 'rotisserie', 'goldfish',
       'stingray', 'warthog', 'bobsled', 'rhinoceros_beetle', 'beaver',
       'brown_bear', 'Maltese_dog', 'weasel', 'quill',
       'Rhodesian_ridgeback', 'Arctic_fox', 'ashcan', 'bow_tie',
       'soft-coated_wheaten_terrier', 'schipperke', 'bearskin',
       'Kerry_blue_terrier', 'ice_lolly', 'American_alligator',
       'mosquito_net', 'sea_lion', 'Boston_bull', 'nail',
       'black-footed_ferret', 'promontory', 'sarong', 'Doberman',
       'space_heater', 'Great_Dane', 'mailbox', 'Saluki', 'bakery',
       'sandal', 'leafhopper', 'barrel', 'water_buffalo', 'polecat',
       'macaque', 'Japanese_spaniel', 'folding_chair', 'trench_coat',
       'Angora', 'junco', 'crib', 'dalmatian', 'snowmobile',
       'flat-coated_retriever', 'streetcar', 'window_screen', 'bannister',
       'hair_slide', 'meerkat', 'cannon', 'jaguar', 'Border_terrier',
       'Greater_Swiss_Mountain_dog', 'hay', 'apron', 'cloak', 'radiator',
       'muzzle', 'feather_boa', 'rifle', 'chimpanzee', 'loggerhead',
       'torch', 'Mexican_hairless', 'spindle', 'triceratops',
       'Appenzeller', 'stove', 'dingo', 'oscilloscope', 'common_newt',
       'hotdog', 'medicine_chest', 'quail', 'horse_cart', 'four-poster',
       'pier', 'red_fox', 'affenpinscher', 'assault_rifle',
       'mashed_potato', 'moped', 'hyena', 'seashore', 'tub', 'sports_car',
       'swing', 'mink', 'bluetick', 'neck_brace', 'grey_fox', 'mongoose',
       'fur_coat', 'Scotch_terrier', 'spatula', 'paper_towel', 'shoji',
       'toyshop', 'banded_gecko', 'peacock', 'crossword_puzzle',
       'tree_frog', 'wombat', 'turnstile', 'sleeping_bag', 'quilt',
       'Gila_monster', 'giant_panda', 'Dandie_Dinmont', 'handkerchief',
       'sombrero', 'Indian_elephant', 'coffee_mug', 'gibbon', 'carton',
       'screw', 'minibus', 'hatchet', 'window_shade', 'lawn_mower',
       'washbasin', 'sock', 'prison', 'patio', 'china_cabinet',
       'chain_mail', 'breakwater', 'computer_keyboard', 'goose',
       'lakeside', 'solar_dish', 'table_lamp', 'Windsor_tie',
       'punching_bag', 'comic_book', 'sunglass', 'great_white_shark',
       'timber_wolf', 'fountain', 'dugong', 'marmot', 'barbershop',
       'shovel', 'curly-coated_retriever', 'lesser_panda', 'monitor',
       'crutch', 'cash_machine', 'printer', 'volcano', 'wallet', 'laptop',
       'bathing_cap', 'confectionery', 'dam', 'killer_whale', 'canoe',
       'Madagascar_cat', 'jean', 'boathouse', 'cliff', 'maillot', 'iPod',
       'hand-held_computer', 'black_widow', 'Norwich_terrier', 'necklace',
       'dining_table', 'binoculars', 'cradle', 'sea_urchin', 'cougar',
       'EntleBucher', 'basketball', 'lighter', 'saltshaker', 'harvester',
       'television', 'envelope', 'house_finch', 'web_site', 'palace',
       'shower_curtain', 'cab', 'snorkel', 'jigsaw_puzzle', 'sweatshirt',
       'white_wolf', 'sliding_door', 'academic_gown', 'cowboy_hat',
       'can_opener', 'cup', 'rule', 'soccer_ball', 'bucket', 'racket',
       'menu', 'purse', 'Bernese_mountain_dog', 'dumbbell', 'projectile',
       'dock', 'oxygen_mask', 'sandbar', 'umbrella', 'shower_cap',
       'bagel'], dtype=object)

In [31]:
df_image_predictions_old['p3'].unique()

array(['Shetland_sheepdog', 'Rhodesian_ridgeback', 'bloodhound',
       'miniature_pinscher', 'Doberman', 'Greater_Swiss_Mountain_dog',
       'terrapin', 'fur_coat', 'golden_retriever',
       'soft-coated_wheaten_terrier', 'Labrador_retriever', 'Pekinese',
       'Ibizan_hound', 'French_bulldog', 'malinois', 'Dandie_Dinmont',
       'borzoi', 'partridge', 'bookcase', 'basenji', 'miniature_poodle',
       'great_grey_owl', 'groenendael', 'Eskimo_dog', 'hamster', 'briard',
       'papillon', 'flat-coated_retriever', 'gar', 'Chihuahua',
       'Shih-Tzu', 'Pomeranian', 'dingo', 'power_drill', 'Saluki',
       'Great_Pyrenees', 'West_Highland_white_terrier', 'collie',
       'toy_poodle', 'vizsla', 'acorn', 'giant_schnauzer', 'teddy',
       'common_iguana', 'wig', 'water_buffalo', 'coyote', 'seat_belt',
       'kelpie', 'space_heater', 'Brabancon_griffon', 'standard_poodle',
       'beagle', 'Irish_water_spaniel', 'bluetick', 'Weimaraner',
       'Chesapeake_Bay_retriever', 'toilet_tissue',
       'black-and-tan_coonhound', 'kuvasz', 'Christmas_stocking',
       'badger', 'hen', 'Staffordshire_bullterrier', 'Yorkshire_terrier',
       'Lakeland_terrier', 'weasel', 'ski_mask', 'cocker_spaniel',
       'Australian_terrier', 'lampshade', 'oscilloscope', 'ram', 'jeep',
       'ice_bear', 'African_grey', 'Great_Dane', 'curly-coated_retriever',
       'doormat', 'African_chameleon', 'schipperke', 'muzzle',
       'triceratops', 'Newfoundland', 'Band_Aid', 'wood_rabbit',
       'white_wolf', 'giant_panda', 'Welsh_springer_spaniel',
       'French_horn', 'toy_terrier', 'Pembroke', 'Cardigan', 'bassinet',
       'pug', 'Afghan_hound', 'American_Staffordshire_terrier', 'whippet',
       'English_setter', 'panpipe', 'crane', 'mouse', 'titi', 'Angora',
       'Boston_bull', 'silky_terrier', 'Japanese_spaniel', 'sandbar',
       'balance_beam', 'black-footed_ferret', 'miniature_schnauzer',
       'Blenheim_spaniel', 'bathtub', 'Saint_Bernard', 'redbone',
       'goldfish', 'Norfolk_terrier', 'llama', 'koala', 'pillow',
       'jersey', 'chow', 'minibus', 'malamute', 'bulletproof_vest',
       'beach_wagon', 'cairn', 'plunger', 'paper_towel', 'wing',
       'English_foxhound', 'Brittany_spaniel', 'bolete', 'ashcan',
       'box_turtle', 'guinea_pig', 'bison', 'bull_mastiff', 'racket',
       'cardoon', 'Tibetan_mastiff', 'window_screen', 'Irish_terrier',
       'agama', 'common_newt', 'car_wheel', 'gorilla', 'bagel', 'clumber',
       'Egyptian_cat', 'television', 'boxer', 'brown_bear', 'leafhopper',
       'German_shepherd', 'Border_collie', 'menu', 'wolf_spider',
       'bathing_cap', 'stinkhorn', 'drumstick', 'mask',
       'Scottish_deerhound', 'shower_curtain', 'Appenzeller',
       'plastic_bag', 'swimming_trunks', 'prairie_chicken', 'red_wolf',
       'Maltese_dog', 'snail', 'gibbon', 'Gordon_setter', 'black_swan',
       'beacon', 'wool', 'cowboy_boot', 'Rottweiler', 'poncho', 'swing',
       'Arctic_fox', 'bib', 'Italian_greyhound', 'steam_locomotive',
       'fountain', 'chickadee', 'abaya', 'Border_terrier', 'bubble',
       'chimpanzee', 'hammerhead', 'Norwegian_elkhound',
       'Norwich_terrier', 'Airedale', 'Siamese_cat', 'sea_cucumber',
       'seashore', 'nipple', 'moped', 'Arabian_camel', 'crayfish',
       'wallaby', 'wire-haired_fox_terrier', 'toilet_seat',
       'Old_English_sheepdog', 'pajama', 'Walker_hound', 'shovel',
       'bucket', 'Sealyham_terrier', 'Windsor_tie', 'Siberian_husky',
       'quill', 'Persian_cat', 'European_fire_salamander',
       'three-toed_sloth', 'swab', 'echidna', 'tennis_ball', 'Lhasa',
       'coral_reef', 'keeshond', 'mink', 'screw', 'basset', 'wreck',
       'kimono', 'German_short-haired_pointer', 'joystick', 'microwave',
       'Tibetan_terrier', 'Irish_wolfhound', 'Samoyed', 'loggerhead',
       'French_loaf', 'Irish_setter', 'komondor', 'purse', 'greenhouse',
       'broccoli', 'shopping_basket', 'macaque', 'squirrel_monkey',
       'green_lizard', 'parallel_bars', 'cloak', 'chest', 'sundial',
       'mosquito_net', 'bath_towel', 'cuirass', 'zebra', 'lumbermill',
       'wallet', 'feather_boa', 'English_springer', 'electric_fan',
       'hippopotamus', 'ox', 'quilt', 'assault_rifle', 'axolotl', 'pot',
       'toyshop', 'pizza', 'scuba_diver', 'beaver', 'Mexican_hairless',
       'cliff', 'loupe', 'wild_boar', 'jaguar', 'hog', 'polecat', 'lion',
       'EntleBucher', 'hand-held_computer', 'washbasin', 'whiptail',
       'rock_crab', 'hare', 'shoji', 'sombrero', 'bell_cote', 'rifle',
       'goose', 'pickup', 'sunglasses', 'limousine', 'bow_tie', 'pretzel',
       'marmot', 'ice_lolly', 'vacuum', 'dalmatian', 'prison',
       'shower_cap', 'sliding_door', 'dugong', 'otterhound', 'eel',
       'binder', 'bullfrog', 'soap_dispenser', 'sea_lion', 'carton',
       'brass', 'mitten', 'golfcart', 'cougar', 'warthog', 'umbrella',
       'neck_brace', 'cup', 'book_jacket', 'padlock', 'cab', 'chime',
       'Leonberg', 'viaduct', 'American_black_bear', 'tub', 'hand_blower',
       'king_penguin', 'rotisserie', 'bannister', 'passenger_car',
       'mongoose', 'dhole', 'consomme', 'valley', 'park_bench',
       'mushroom', 'barrow', 'parachute', 'desktop_computer', 'snorkel',
       'wok', 'affenpinscher', 'space_shuttle', 'rain_barrel',
       'ballplayer', 'mountain_tent', 'oxcart', 'buckeye', 'sunglass',
       'croquet_ball', 'refrigerator', 'snow_leopard', 'tripod',
       'rapeseed', 'tiger_cat', 'Bernese_mountain_dog', 'notebook',
       'maraca', 'pool_table', 'lakeside', 'theater_curtain', 'pier',
       'cheetah', 'mousetrap', 'pop_bottle', 'soccer_ball', 'wombat',
       'rhinoceros_beetle', 'paddlewheel', 'paintbrush', 'maze',
       'hatchet', 'chain', 'jigsaw_puzzle', 'switch',
       'Kerry_blue_terrier', 'barbell', 'convertible',
       'entertainment_center', 'file', 'guillotine', 'nail',
       'standard_schnauzer', 'bow', 'grocery_store', 'boathouse', 'conch',
       'Bouvier_des_Flandres', 'grey_fox', 'shopping_cart', 'meerkat',
       'grand_piano', 'envelope', 'screen', 'coffeepot', 'printer',
       'otter', 'restaurant', 'bonnet', 'crossword_puzzle', 'go-kart',
       'Sussex_spaniel', 'orangutan', 'canoe', 'barber_chair',
       'traffic_light', 'ibex', 'can_opener', 'Indian_elephant',
       'spatula', 'banana'], dtype=object)

In [32]:
df_tweet_json_old

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,...,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status_permalink,quoted_status
0,2017-08-01 16:23:56+00:00,892420643555336193,892420643555336192,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
1,2017-08-01 00:17:27+00:00,892177421306343426,892177421306343424,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2,2017-07-31 00:18:03+00:00,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
3,2017-07-30 15:58:51+00:00,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
4,2017-07-29 16:00:24+00:00,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,2015-11-16 00:24:50+00:00,666049248165822465,666049248165822464,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2327,2015-11-16 00:04:52+00:00,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2328,2015-11-15 23:21:54+00:00,666033412701032449,666033412701032448,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2329,2015-11-15 23:05:30+00:00,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN
2330,2015-11-15 22:32:08+00:00,666020888022790149,666020888022790144,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",NaN,...,False,False,0.0,0.0,en,NaN,NaN,NaN,NaN,NaN

In [33]:
df_tweet_json_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2331 non-null   datetime64[ns, UTC]
 1   id                             2331 non-null   int64
 2   id_str                         2331 non-null   int64
 3   full_text                      2331 non-null   object
 4   truncated                      2331 non-null   bool
 5   display_text_range             2331 non-null   object
 6   entities                       2331 non-null   object
 7   extended_entities              2059 non-null   object
 8   source                         2331 non-null   object
 9   in_reply_to_status_id          77 non-null     float64
 10  in_reply_to_status_id_str      77 non-null     float64
 11  in_reply_to_user_id            77 non-null     float64
 12  in_reply_to_user_id_str        77 non-null     float64
 13  in_reply_to_screen_name        77 non-null     object
 14  user                           2331 non-null   object
 15  geo                            0 non-null      float64
 16  coordinates                    0 non-null      float64
 17  place                          1 non-null      object
 18  contributors                   0 non-null      float64
 19  is_quote_status                2331 non-null   bool
 20  retweet_count                  2331 non-null   int64
 21  favorite_count                 2331 non-null   int64
 22  favorited                      2331 non-null   bool
 23  retweeted                      2331 non-null   bool
 24  possibly_sensitive             2196 non-null   float64
 25  possibly_sensitive_appealable  2196 non-null   float64
 26  lang                           2331 non-null   object
 27  retweeted_status               163 non-null    object
 28  quoted_status_id               26 non-null     float64
 29  quoted_status_id_str           26 non-null     float64
 30  quoted_status_permalink        26 non-null     object
 31  quoted_status                  24 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(11), int64(4), object(12)
memory usage: 519.1+ KB

In [34]:
df_tweet_json_old.query('retweeted == True')['id'].nunique()

0

In [35]:
df_tweet_json_old.query("retweet_count > 0")['id'].nunique()

2331

In [36]:
df_tweet_json_old.query('favorited == True')['id'].nunique()

0

In [37]:
df_tweet_json_old.query("favorite_count > 0")['id'].nunique()

2168

In [38]:
df_dog_breeds_old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222 entries, 0 to 10221
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10222 non-null  object
 1   breed   10222 non-null  object
dtypes: object(2)
memory usage: 159.8+ KB

In [39]:
df_dog_breeds_old['breed'].unique()

array(['boston_bull', 'dingo', 'pekinese', 'bluetick', 'golden_retriever',
       'bedlington_terrier', 'borzoi', 'basenji', 'scottish_deerhound',
       'shetland_sheepdog', 'walker_hound', 'maltese_dog',
       'norfolk_terrier', 'african_hunting_dog',
       'wire-haired_fox_terrier', 'redbone', 'lakeland_terrier', 'boxer',
       'doberman', 'otterhound', 'standard_schnauzer',
       'irish_water_spaniel', 'black-and-tan_coonhound', 'cairn',
       'affenpinscher', 'labrador_retriever', 'ibizan_hound',
       'english_setter', 'weimaraner', 'giant_schnauzer', 'groenendael',
       'dhole', 'toy_poodle', 'border_terrier', 'tibetan_terrier',
       'norwegian_elkhound', 'shih-tzu', 'irish_terrier', 'kuvasz',
       'german_shepherd', 'greater_swiss_mountain_dog', 'basset',
       'australian_terrier', 'schipperke', 'rhodesian_ridgeback',
       'irish_setter', 'appenzeller', 'bloodhound', 'samoyed',
       'miniature_schnauzer', 'brittany_spaniel', 'kelpie', 'papillon',
       'border_collie', 'entlebucher', 'collie', 'malamute',
       'welsh_springer_spaniel', 'chihuahua', 'saluki', 'pug', 'malinois',
       'komondor', 'airedale', 'leonberg', 'mexican_hairless',
       'bull_mastiff', 'bernese_mountain_dog',
       'american_staffordshire_terrier', 'lhasa', 'cardigan',
       'italian_greyhound', 'clumber', 'scotch_terrier', 'afghan_hound',
       'old_english_sheepdog', 'saint_bernard', 'miniature_pinscher',
       'eskimo_dog', 'irish_wolfhound', 'brabancon_griffon',
       'toy_terrier', 'chow', 'flat-coated_retriever', 'norwich_terrier',
       'soft-coated_wheaten_terrier', 'staffordshire_bullterrier',
       'english_foxhound', 'gordon_setter', 'siberian_husky',
       'newfoundland', 'briard', 'chesapeake_bay_retriever',
       'dandie_dinmont', 'great_pyrenees', 'beagle', 'vizsla',
       'west_highland_white_terrier', 'kerry_blue_terrier', 'whippet',
       'sealyham_terrier', 'standard_poodle', 'keeshond',
       'japanese_spaniel', 'miniature_poodle', 'pomeranian',
       'curly-coated_retriever', 'yorkshire_terrier', 'pembroke',
       'great_dane', 'blenheim_spaniel', 'silky_terrier',
       'sussex_spaniel', 'german_short-haired_pointer', 'french_bulldog',
       'bouvier_des_flandres', 'tibetan_mastiff', 'english_springer',
       'cocker_spaniel', 'rottweiler'], dtype=object)

> **Twitter Reference**:
>
> * Tweet objects: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object

> **Key Points:**
> * Only original ratings (no retweets) that have images is wanted
> * The tweets beyond August 1st, 2017 do not need to be gathered.
> * Cleaning includes merging individual pieces of data according to the rules of tidy data
> * The rating numerators are greater than the denominators does not need to be cleaned

> **Quality Issues:**
> * ~~IDs are found to have wrong types~~
> * ~~Data contains retweets~~
> * ~~Variable **retweeted** indicates whether this Tweet has been Retweeted by the authenticating user. Variable **retweet_count** indicates number of times this Tweet has been retweeted. The maxium of retweet_count reaches 77154 but the only possible value for retweeted is False~~
> * ~~The above issue is also found between **favourited** and **favorite_count**~~
> * Misleading column names in **df_image_predictions_old**: **p1**, **p1_conf**, **p1_dog**, **p2**, **p2_conf**, **p2_dog**, **p3**, **p3_conf**, **p3_dog**
> * Column name **text** is not descriptive
> * ~~Issues with columns **p1**, **p2**, **p3**~~
>  ~~* Not all words start with capitalized characters~~
>  ~~* Some uses "_", and some uses "-"~~
> * ~~**timestamp** is not of type DateTime.~~ Same as **retweeted_status_timestamp**
> * ~~The **name** column in **df_wrd_twitter_old** contains words, including "None", other than dog names. Same as **p1**, **p2**, **p3** in **df_image_predictions_old**~~
> * ~~The **rating_denominator** contains 0, but its corresponding **rating_numerator** is 960~~
> * ~~There exist some entries not having dog "states". In the meantime, there exist some entries having two dog "states"~~
> * ~~In **df_dog_breeds_old**, Some names contains "-" while some uses "_"~~
> * ~~There exist duplicates in the **breed** column in **df_dog_breeds_old**~~
> * ~~Some information are shown in 2 columns in **df_tweet_json_old** for different data types~~

> **Tidiness Issues:**
> * Dog "states" are seperated into 4 columns: **doggo**, **floofer**, **pupper** and **puppo**  
> * Algorithms used are seperated into 3 columns: **p1**, **p2**, **p3**
> * Tweet information and dog information in the same table

<a id='cleaning'></a>
# III. Cleaning Data 
---

In [40]:
df_dog_breeds = df_dog_breeds_old.copy()
df_tweet_json = df_tweet_json_old.copy()
df_image_predictions = df_image_predictions_old.copy()
df_wrd_twitter = df_wrd_twitter_old.copy()

---
### Define

* Remove duplicates in breed column in df_dog_breeds using `drop_duplicates`
* Replace - with _ in breed column using `str.replace`

### Code

In [41]:
df_dog_breeds['breed'].str.contains('-').sum(), df_dog_breeds.duplicated(['breed']).any()

(561, True)

In [42]:
df_dog_breeds.drop_duplicates(['breed'], inplace=True)

df_dog_breeds['breed'] = df_dog_breeds['breed'].str.replace('-', '_')

### Test

In [43]:
df_dog_breeds['breed'].str.contains('-').sum(), df_dog_breeds.duplicated(['breed']).any()

(0, False)

---
### Define

* Remove columns end with str in **df_tweet_json** using `drop`
* Change data types of all id columns in **df_tweet_json** to str using `astype`

### Code

In [44]:
cols_to_drop = [col for col in df_tweet_json if col.endswith('str')]

len(cols_to_drop)

4

In [45]:
cols_to_change_type = [col for col in df_tweet_json if col.endswith('id')]

len(cols_to_change_type)

4

In [46]:
for col in cols_to_change_type:
     print(col, df_tweet_json[col].dtype)

id int64
in_reply_to_status_id float64
in_reply_to_user_id float64
quoted_status_id float64

In [47]:
df_tweet_json.drop(columns=cols_to_drop, inplace=True)

In [48]:
for col in cols_to_change_type:
    df_tweet_json[col] = df_tweet_json[col].astype(str)

### Test

In [49]:
cols_to_drop = [col for col in df_tweet_json if col.endswith('str')]

len(cols_to_drop)

0

In [50]:
for col in cols_to_change_type:
     print(col, df_tweet_json[col].dtype)

id object
in_reply_to_status_id object
in_reply_to_user_id object
quoted_status_id object

---
### Define

Remove **retweeted** and **favourited** columns in **df_tweet_json** using `drop`

### Code

In [51]:
cols = ['retweeted', 'favorited']

cols_to_drop = [col for col in df_tweet_json if col in cols]

len(cols_to_drop)

2

In [52]:
df_tweet_json.drop(columns=cols_to_drop, inplace=True)

### Test

In [53]:
cols_to_drop = [col for col in df_tweet_json if col in cols]

len(cols_to_drop)

0

---
### Define

Filter out retweets in **df_tweet_json** by checking if **retweeted_status** is null

### Code

In [54]:
df_tweet_json['retweeted_status'].notnull().any()

True

In [55]:
row_indices_to_remove = df_tweet_json.index[df_tweet_json['retweeted_status'].notnull()].tolist()

In [56]:
df_tweet_json.drop(row_indices_to_remove, inplace=True)

### Test

In [57]:
df_tweet_json['retweeted_status'].notnull().any()

False

---
### Define

Change the data type of **tweet_id** to object using `astype`

### Code

In [58]:
df_image_predictions['tweet_id'].dtype

dtype('int64')

In [59]:
df_image_predictions['tweet_id'] = df_image_predictions['tweet_id'].astype(str)

### Test

In [60]:
df_image_predictions['tweet_id'].dtype

dtype('O')

---
### Define

* Fix format issues in **p1**, **p2** and **p3**. Final format: lowercase with "_" as seperator
* Filter out rows with nonsense dog breeds

### Code

In [61]:
p1_sum = df_image_predictions['p1'].str.contains('-').sum()
p2_sum = df_image_predictions['p2'].str.contains('-').sum()
p3_sum = df_image_predictions['p3'].str.contains('-').sum()

p1_sum, p2_sum, p3_sum

(59, 66, 61)

In [62]:
df_image_predictions['p1'] = df_image_predictions['p1'].str.lower()
df_image_predictions['p2'] = df_image_predictions['p2'].str.lower()
df_image_predictions['p3'] = df_image_predictions['p3'].str.lower()

df_image_predictions['p1'] = df_image_predictions['p1'].str.replace('-', '_')
df_image_predictions['p2'] = df_image_predictions['p2'].str.replace('-', '_')
df_image_predictions['p3'] = df_image_predictions['p3'].str.replace('-', '_')

In [63]:
'''
Filter out nonsense names
'''

index_p1 = df_image_predictions[~df_image_predictions.p1.isin(df_dog_breeds['breed'])].index
df_image_predictions.drop(index_p1, inplace=True)

index_p2 = df_image_predictions[~df_image_predictions.p2.isin(df_dog_breeds['breed'])].index
df_image_predictions.drop(index_p2, inplace=True)

index_p3 = df_image_predictions[~df_image_predictions.p3.isin(df_dog_breeds['breed'])].index
df_image_predictions.drop(index_p3, inplace=True)

### Test

In [64]:
df_image_predictions['p1'].str.contains('-').sum()

0

In [65]:
df_image_predictions['p2'].str.contains('-').sum()

0

In [66]:
df_image_predictions['p3'].str.contains('-').sum()

0

In [67]:
index_p1 = df_image_predictions[~df_image_predictions.p1.isin(df_dog_breeds['breed'])].index
index_p2 = df_image_predictions[~df_image_predictions.p2.isin(df_dog_breeds['breed'])].index
index_p3 = df_image_predictions[~df_image_predictions.p3.isin(df_dog_breeds['breed'])].index

index_p1.shape[0], index_p2.shape[0], index_p3.shape[0]

(0, 0, 0)

### Define

* Filter out retweets by removing the ones with not null **retweeted_status_id**
* Filter out rows with **rating_denominator** = 0
* Change the data type of **tweet_id** from number to string type
* Change the data type of **timestamp** from object to timestamp
* Filter out rows with no dog states or more than one dog state
* Filter out dog name "None"

### Code

In [68]:
index_to_remove = df_wrd_twitter[df_wrd_twitter['retweeted_status_id'].notnull()].index

df_wrd_twitter.drop(index_to_remove, inplace=True)

In [69]:
index_to_remove = df_wrd_twitter.query("rating_denominator == 0").index

df_wrd_twitter.drop(index_to_remove, inplace=True)

In [70]:
df_wrd_twitter['tweet_id'] = df_wrd_twitter['tweet_id'].astype(str)

In [71]:
df_wrd_twitter['timestamp'] = pd.to_datetime(df_wrd_twitter['timestamp'])

In [72]:
condition_1 = "(doggo=='doggo' and floofer=='floofer')"
condition_2 = "(doggo=='doggo' and pupper=='pupper')"
condition_3 = "(doggo=='doggo' and puppo=='puppo')"
condition_4 = "(floofer=='floofer' and pupper=='pupper')"
condition_5 = "(floofer=='floofer' and puppo=='puppo')"
condition_6 = "(pupper=='pupper' and puppo=='puppo')"
condition_7 = "(doggo=='None' and floofer=='None' and pupper=='None' and puppo=='puppo')"

arr = [condition_1, condition_2, condition_3, condition_4, condition_5, condition_6, condition_7]

condition = " or ".join(arr)

rows_to_remove = df_wrd_twitter.query(condition)

df_wrd_twitter.drop(rows_to_remove.index, inplace=True)

In [73]:
indices_to_remove = df_wrd_twitter.query("name=='None'").index

df_wrd_twitter.drop(indices_to_remove, inplace=True)

### Test

In [74]:
df_wrd_twitter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1474 entries, 0 to 2354
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    1474 non-null   object
 1   in_reply_to_status_id       1 non-null      float64
 2   in_reply_to_user_id         1 non-null      float64
 3   timestamp                   1474 non-null   datetime64[ns, UTC]
 4   source                      1474 non-null   object
 5   text                        1474 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               1474 non-null   object
 10  rating_numerator            1474 non-null   int64
 11  rating_denominator          1474 non-null   int64
 12  name                        1474 non-null   object
 13  doggo                       1474 non-null   object
 14  floofer                     1474 non-null   object
 15  pupper                      1474 non-null   object
 16  puppo                       1474 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(10)
memory usage: 207.3+ KB

In [75]:
df_wrd_twitter['retweeted_status_id'].unique()

array([nan])

In [76]:
df_wrd_twitter.query("rating_denominator == 0").index

Int64Index([], dtype='int64')

In [77]:
condition_1 = "(doggo=='doggo' and floofer=='floofer')"
condition_2 = "(doggo=='doggo' and pupper=='pupper')"
condition_3 = "(doggo=='doggo' and puppo=='puppo')"
condition_4 = "(floofer=='floofer' and pupper=='pupper')"
condition_5 = "(floofer=='floofer' and puppo=='puppo')"
condition_6 = "(pupper=='pupper' and puppo=='puppo')"
condition_7 = "(doggo=='None' and floofer=='None' and pupper=='None' and puppo=='puppo')"

arr = [condition_1, condition_2, condition_3, condition_4, condition_5, condition_6, condition_7]

condition = " or ".join(arr)

rows_to_remove = df_wrd_twitter.query(condition)

rows_to_remove['tweet_id'].count()

0

In [78]:
df_wrd_twitter.query("name=='None'")['tweet_id'].count()

0

<a id='analyzing'></a>
# IV. Analyzing Data 
---

<a id='visualizing'></a>
# V. Visualizing Data 
---