In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_dir = "../data"

In [3]:
image_predictions_filepath = os.path.join(data_dir, 'image-predictions.tsv')

df = pd.read_csv(image_predictions_filepath, sep="\t")

In [5]:
df

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [6]:
df_dog_breeds = pd.read_csv(os.path.join(data_dir, "labels.csv"))

In [9]:
duplicated_row_indices = df_dog_breeds[df_dog_breeds.duplicated(['breed'])].index

In [10]:
df_dog_breeds.drop(duplicated_row_indices, inplace=True)

In [11]:
df_dog_breeds['breed'] = df_dog_breeds['breed'].str.replace("-", "_")

In [20]:
df['p1'] = df['p1'].str.lower()
df['p1'] = df['p1'].str.replace("-", "_")
df['p2'] = df['p2'].str.lower()
df['p2'] = df['p2'].str.replace("-", "_")
df['p3'] = df['p3'].str.lower()
df['p3'] = df['p3'].str.replace("-", "_")

In [46]:
df[~df.p1.isin(df_dog_breeds['breed'])]['p1_dog'].sum()

0

In [47]:
df[~df.p2.isin(df_dog_breeds['breed'])]['p2_dog'].sum()

0

In [50]:
df[~df.p3.isin(df_dog_breeds['breed'])]['p3_dog'].sum()

0

In [43]:
p1_indices_to_update = df[~df.p1.isin(df_dog_breeds['breed'])].query("p1_dog == True").index
p2_indices_to_update = df[~df.p2.isin(df_dog_breeds['breed'])].query("p2_dog == True").index
p3_indices_to_update = df[~df.p3.isin(df_dog_breeds['breed'])].query("p3_dog == True").index

In [44]:
def update_p_dog_value(indices, key):
    for index in indices:
        df.at[index, key] = False

In [49]:
update_p_dog_value(p1_indices_to_update, 'p1_dog')
update_p_dog_value(p2_indices_to_update, 'p2_dog')
update_p_dog_value(p3_indices_to_update, 'p3_dog')